/* GENERAL */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    color: #0000ff;
    text-decoration: none;
}
.container{
    width: 100%;
    text-align: center;
    margin:auto;
    overflow: hidden;
    margin-bottom: 50px;
}

.title-bg-black-lg{
    font-size: 2.5rem;
    color: #ffffff;
    background: rgba(0,0,0, .7);
}
.icon{
    font-size: 2em;
}

.flex{
    display: flex;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}

.align-items-center{
    align-items: center;
}

.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}

.cursor-pointer{
    cursor: pointer;
}


/* --GENERAL-- */

/* SLIDE SHOW */

.slide-show{    
    position: relative;
}
.slide-show .title-bg-black-lg{
    position: absolute;
    width: 100%;
    transform: translate(0, 200%);
    margin: auto;
    padding: 5rem;
}
.slides{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

/* --SLIDE SHOW-- */

/* DESCRIPTION-MODEL-CARDS */

.desc-card .card-right h3{
    font-size: 2rem;
    color: rgb(63, 192, 251);
    margin: 30px;
}
.desc-card .card-right p{
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
}

/* --DESCRIPTION-MODEL-CARDS-- */


/* SKILLS-CARD */

.skill-card img{
    width: 128px;
    height: auto;
}
.skill-card h4{
    font-size: 3rem;
    margin: 50px 0;
}

/* --SKILLS-CARD-- */